/__pycache__/
/ignore/
/model_output_010926_128x128_t*/
/model_output_020926_128x128_transformer/
/model_output_090826_128x128_transformer/
!/model_output_090826_128x128_transformer_fixed/
/model_output_090526_128x128_unet/
!/model_output_090826_128x128_unet/
/outp/
/output_plane_imgs/
/outp/
*.pt
!*_noopt.pt
